[Service]
Environment="HTTP_PROXY=http://10.43.151.177:80"
Environment="HTTPS_PROXY=http://10.43.151.177:80"
Environment="NO_PROXY=localhost, *.eu-central-1.compute.internal, .eu-central-1.compute.internal,169.254.169.254,10.30.10.1 ,{% for host in groups['nodes'] %}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}"
ExecStartPre=-/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/usr/local/bin/hyperkube kubelet --pod-manifest-path /etc/kubernetes/manifests --allow-privileged true  \
   --hostname-override={{ ansible_eth0.ipv4.address }} \
   --api-servers={% for host in groups['master'] %}https://{{ hostvars[host]['ansible_ssh_host'] }}:6443{% if not loop.last %},{% endif %}{% endfor %} \
   --require-kubeconfig \
   --kubeconfig=/etc/kubernetes/ssl/kubeconfig.yml \
   --cni-conf-dir=/etc/kubernetes/cni/net.d \
   --container-runtime=docker \
   --allow-privileged=true \
   --cluster_dns={{ kubernetes_dns_ip }} \
   --cluster_domain=cluster.local \
   --cloud-provider=aws \
   --pod-manifest-path=/etc/kubernetes/manifests 
#   --network-plugin=cni \
 #  --network-plugin=${NETWORK_PLUGIN} \
  # --hostname-override=${ADVERTISE_IP} \
Restart=always
RestartSec=10
