[Service]
ExecStartPre=-/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStart=/opt/bin/hyperkube kubelet --pod-manifest-path /etc/kubernetes/manifests --allow-privileged true  \
   --hostname-override={{ ansible_eth0.ipv4.address }} \
   --api-servers=http://127.0.0.1:8080 \
   --register-schedulable={{ register-schedulable | default("true") \
   --cni-conf-dir=/etc/kubernetes/cni/net.d \
   --container-runtime=docker \
   --allow-privileged=true \
   --cluster_dns={{ kubernetes_dns_ip }} \
   --cluster_domain=cluster.local \
   --network-plugin=cni \
   --pod-manifest-path=/etc/kubernetes/manifests 
 #  --network-plugin=${NETWORK_PLUGIN} \
  # --hostname-override=${ADVERTISE_IP} \
Restart=always
RestartSec=10
